th{
    width:50px !important;
    height:50px !important;
    border:2px solid green;
    text-align:center;
}

td{
    width:50px !important;
    height:50px !important;
    border:2px solid green;
    text-align:center;
    font-weight: bold;
}

#playersTable{
    width:550px;
    margin-bottom:20px;
}

.table_cells{
    color:white;
}