#logout-form{
    display:none;
}

th{
    width:50px !important;
    height:50px !important;
    border:2px solid green;
    text-align:center;
}

td{
    width:50px !important;
    height:50px !important;
    border:2px solid green;
    text-align:center;
    font-weight: bold;
}

#playersTable{
    width:550px;
    margin-bottom:20px;
}

.table_cells{
    color:white;
    /*display:flex;*/
    /*justify-content: center;*/
    /*align-items: center*/
}

.hit{
    background-color:red !important;
    color:white;
    border-radius: 50%;
    /*width:40px;*/
    /*height:40px;*/
    /*margin-left:2px !important;*/
    /*align:center;*/

}

